* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #704C99;
}

#screen{
    padding-top: 13px!important;
    padding-bottom: 13px!important;
}

#gridwrapper{
    display: grid;
    align-content: center;
}

#grid {
    display: grid;
    opacity: 0;
    /*border: 1px solid #9C61BC;*/
    justify-content: center;
   
    margin: 0 auto 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#grid>div {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #704C99;
    border: 0.5px solid #9C61BC;
    /* Rectangle */
}

.game-card {
    width: 100%;
    height: 100%;

    -webkit-transform: scale(1);
    transform: scale(1);
    
    -webkit-transform-style: -webkit-preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-transition: -webkit-transform .8s;
    transition: transform .8s;

    cursor: pointer;
}

 
.back-card{
position: absolute;
left: 5%;
right: 5%;
top: 5%;
bottom: 5%;

background: #F4BBD5;
border-radius: 12%;
}


.back-card-question{
    padding: 25% 32%;
    width: 100%;
    height: 100%;
}

.back-card-question>svg{
    margin: 0 auto;
}

.front-card,
.back-card{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-card {


    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;

    padding: 5%;

    background: #FFF;
    border-radius: 12%;

    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.hidden>.front-card{
    /*visibility: hidden;*/
    -webkit-transition: opacity .5s ease-in-out, width .5s ease-in-out;
    transition: opacity .5s ease-in-out, width .5s ease-in-out;

    width: 120%;
    opacity: 0;
}

.hidden>.back-card{
    /*visibility: hidden;*/
}

.hidden{
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;

    opacity: 0;
}

.hidden>.game-card{
    cursor: default;
}

.marginauto{
    margin: 0 auto;
}

.button-start{
    /* Rectangle */
    width: 100%;
    margin: 40px 0 20px 0;
    height: 70px;
    padding: 30px;
    background: #FFFFFF;
    border-radius: 6px;
    font-family: 'RubikRegular', serif;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #4734BD;
    border: 0;
}

.container.start{
    max-width: 600px;

}

.backlineimg{
    background-image: url(../img/linestartmenu.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.container.start>.d-flex{
    height: calc(100vh - 26px);
    margin: 0!important;
}

.gameinfo{
    background-image: url(../img/startmenu.svg);
    background-size: cover;
    height: 100%;
}

.gamenumber2{
    font-family: 'RubikBlack', serif;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0!important; 
    /* or 119% */

    text-transform: uppercase;
    color: #FFFFFF;
}

.secretsofgalaxy{
    width: 80%;
    height: 100px;
    border-radius: 6px;
    color:#fff;

    font-family: 'RubikBlack', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;

    border: 0;
    background: #5E378C;
    background-image: url(../img/backgroundsecretsbtn.svg);
    margin: 0 auto;
}

.helponstart{
    /* Найди и открой все парные карточки, чтобы узнать как выглядят наши братья с других планет */
    font-family: 'RubikRegular', serif;
    font-size: 14px;
    line-height: 150%;
    /* or 150% */
    text-align: center;

    color: #FFFFFF;
}

.startcardimgs>img{
    margin: 0 5px;
}